/*==============================
=            COLORS            =
==============================*/
$bg-color: #31373d;
$color: #96a7b6;
$primary: #70A821;
$tolerance: 10; // $tolerance/100
/*====================================
=            SCREEN SIZES            =
====================================*/
$desktop_size: 100%;
$tablet_size: 70%;
$mobile_size: 50%;
body {
  background: #ebeef0;
  -webkit-transition-duration: 1s;
}
.actionbar {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background: $bg-color;
  .ui.container {
    max-width: 900px !important;
  }
  .ui.text.menu .item {
    color: $color;
    &.active {
      color: #fff;
    }
  }
}
.metabar {
  padding-right: 50px;
}
.ui.text.menu {
  margin: 0;
  padding: 1em 0.5em;
}
.ui.button {
  font-weight: 100;
}
.ui.modal {
  height: 300px;
}
// Shopify gift background
@-webkit-keyframes giftSlideUp {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center -995px;
  }
}
.login {
  background: #e5e9ec url("loginbg.png") repeat center 0;
  border-color: #d7dde1;
  -webkit-animation: giftSlideUp 30s linear 0s infinite;
  animation: giftSlideUp 30s linear 0s infinite;
  width: 100vw;
  color: #000;
  height: 100vh;
  padding-top: 10%;
  .field {
    input[type="text"],
    input[type="email"],
    input[type="search"],
    input[type="password"] {
      border-color: $primary;
      background: transparent;
      color: #fff;
      &:focus {
        border-color: $primary;
        color: #fff;
        background: transparent;
      }
    }
    .slideIn {
      opacity: 0;
    }
  }
  .ui.segment.container {
    max-width: 475px !important;
  }
}
.ui.green.button,
.ui.primary.button {
  background: $primary;
  &:hover {
    background: lighten($primary, 10);
    box-shadow: none !important;
  }
  &:focus {
    background: $primary;
  }
}
.ui.segment.site {
  margin: 3em;
  -webkit-transition-duration: 0.5s;
  &.desktop {
    width: $desktop_size;
  }
  &.tablet {
    width: $tablet_size;
  }
  &.mobile {
    width: $mobile_size;
  }
}
.ui.sidebar {
  padding: 1em 2em;
  color: #96a7b6;
  background: #272c30;
  .header {
    padding: 2em 0;
  }
  .footer {
    position: absolute;
    bottom: 0;
    right: 30px;
    min-width: 300px;
  }
}
.pusher {
  height: 100vh;
  position: absolute;
  left: 0;
  transform: none !important;
}
.ui.text.menu .header.item {
  // edit/ preview header should not change layout of actionbar
  width: 135px;
}