/*==============================
=            COLORS            =
==============================*/
$bg-color: #31373d;
$color: #96a7b6;
$primary: #70A821;
$tolerance: 10; // $tolerance/100

/*====================================
=            SCREEN SIZES            =
====================================*/
$desktop_size: 1024px;
$tablet_size: 760px;
$mobile_size: 360px;

body {
  background: #ebeef0;
}

.actionbar {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background: $bg-color;
  .ui.text.menu .item {
    color: $color;
    &.active {
      color: #fff;
    }
  }
}
.metabar {
  padding-right: 50px;
}
.ui.text.menu {
  margin: 0;
  padding: 1em .5em;
}

.ui.button {
  font-weight: 100;
}

.ui.modal {
  height: 300px;
}

// Shopify gift background
@-webkit-keyframes giftSlideUp{0%{background-position:center 0}100%{background-position:center -995px}}

.login {
  background: #e5e9ec url(loginbg.png) repeat center 0;
  border-color: #d7dde1;
  -webkit-animation: giftSlideUp 30s linear 0s infinite;
  animation: giftSlideUp 30s linear 0s infinite;
  width: 100vw;
  color: #000;
  height: 100vh;
  padding-top: 10%;
  .field {
    input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
      border-color: $primary;
      background: transparent;
      color: #fff;
      &:focus {
        border-color: $primary;
        color: #fff;
        background: transparent;
      }
    }
    .slideIn {
      opacity: 0;
    }
  }
  .ui.segment.container {
    max-width: 475px !important;
  }
}

#slides li {
  display: inline-block;
  background-size: contain;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  top: 20px; right: 0; bottom: 50px; left: 0;
}

#slides li{
  background: aqua;
}

#nav {
  text-align: center;
  position: absolute;
  bottom: 32px;
  left: 50%;
  white-space: nowrap;
}

#nav li {
  display: inline-block;
  padding: 0 20px;
  cursor: default;
}

/*iPhone*/
@media only screen and (max-device-width: 628px) {
  #slides li {
    top: 60px; right: 0; bottom: 40px; left: 0;
  }
}

/*iPhone and iPad*/
@media (max-device-width : 1024px) {
  body {
    overflow: hidden;
  }
}

/*Portrait iPad*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  #slides li {
    top: 80px; right: 0; bottom: 60px; left: 0;
  }
}

.ui.green.button, .ui.primary.button {
  background: $primary;
  &:hover {
    background: lighten($primary, 10);
    box-shadow: none !important;
  }
  &:focus {
    background: $primary;
  }
}

.ui.segment.site {
  margin: 3em;
  &.desktop {
    width: $desktop_size;
  }
  &.tablet {
    width: $tablet_size;
  }
  &.mobile {
    width: $mobile_size;
  }
}